<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
            <h1 class="mt-4 custom-title">Bem-vindo(a) ao MXMChallenge!!!</h1>
            <p>Bem-vindo(a), <span class="custom-text mt-4">{{ username }}.</span></p>
            <p class="custom-text mt-4">
                "O sucesso não é final, o fracasso não é fatal: é a coragem de continuar que conta." - Winston Churchill
            </p>
    </div>
</div>
