<!-- confirmation-page.component.html -->

<div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Confirmar Exclusão do Perfil</h5>
            <p class="card-text">Tem certeza de que deseja excluir seu perfil?</p>
            <div class="text-center">
              <button class="btn btn-danger" (click)="confirmarExclusao()">Confirmar Exclusão</button>
              <button class="btn btn-secondary ml-2" (click)="cancelarExclusao()">Cancelar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  