<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-9">
      <h1>Perfil</h1>
      <div class="container mt-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ user.fullname }}</h5>
            <p class="card-text"><i class="fas fa-envelope"></i> <strong>Email:</strong> {{ user.email }}</p>
            <p class="card-text"><i class="fas fa-id-card"></i> <strong>CPF:</strong> {{ user.cpf_cnpj }}</p>
            <p class="card-text"><i class="fas fa-phone"></i> <strong>DDD:</strong> {{ user.ddd }}</p>
            <p class="card-text"><i class="fas fa-mobile-alt"></i> <strong>Telefone:</strong> {{ user.phoneNumber }}</p>
            <p class="card-text"><i class="fas fa-map-marker-alt"></i> <strong>CEP:</strong> {{ user.zipcode }}</p>
            <p class="card-text"><i class="fas fa-road"></i> <strong>Rua:</strong> {{ user.street }}</p>
            <p class="card-text"><i class="fas fa-building"></i> <strong>Número:</strong> {{ user.number }}</p>
            <p class="card-text"><i class="fas fa-door-open"></i> <strong>Complemento:</strong> {{ user.complement }}</p>
            <p class="card-text"><i class="fas fa-tree"></i> <strong>Bairro:</strong> {{ user.neighborhood }}</p>
            <p class="card-text"><i class="fas fa-city"></i> <strong>Cidade:</strong> {{ user.city }}</p>
            <p class="card-text"><i class="fas fa-flag"></i> <strong>Estado:</strong> {{ user.state }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button class="btn btn-primary mt-2 col-md-6" (click)="updateProfile()">Atualizar Perfil</button>
          <button class="btn btn-danger mt-2 col-md-6" (click)="deleteProfile()">Deletar Perfil</button>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>
