<app-navbar [page]="page" [route]="route" (click)="onLogout()" />

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Perfil</h1>
      <p>Bem-vindo(a), {{ username }}</p>
    </div>

    <div class="container mt-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ user.fullname }}</h5>
          <p class="card-text"><strong>Email:</strong> {{ user.email }}</p>
          <p class="card-text"><strong>DDD:</strong> {{ user.ddd }}</p>
          <p class="card-text"><strong>Telefone:</strong> {{ user.phoneNumber }}</p>
          <p class="card-text"><strong>CPF:</strong> {{ user.cpf }}</p>
          <p class="card-text"><strong>CEP:</strong> {{ user.zipcode }}</p>
          <p class="card-text"><strong>Rua:</strong> {{ user.street }}</p>
          <p class="card-text"><strong>Número:</strong> {{ user.number }}</p>
          <p class="card-text"><strong>Complemento:</strong> {{ user.complement }}</p>
          <p class="card-text"><strong>Bairro:</strong> {{ user.neighborhood }}</p>
          <p class="card-text"><strong>Cidade:</strong> {{ user.city }}</p>
          <p class="card-text"><strong>Estado:</strong> {{ user.state }}</p>
        </div>
      </div>
    </div>
    <div class="row">
        <button class="btn btn-primary mt-2 col-md-6" (click)="updateProfile()">
            Atualizar Perfil
          </button>
          <button class="btn btn-danger mt-2 col-md-6" (click)="deleteProfile()">
            Deletar Perfil
          </button>
    </div>
    
  </div>
</div>
